@import("../../stylus/index.styl")

$lineHeight = .53rem;


.Register{
   

    .Register-Box{
         margin: 0.9rem auto 0
        width: 80%;
    .Register-line{
    margin: 0 auto
    width: 100%
    height $lineHeight;
    border-bottom: 1px solid $border-color
    line-height: $lineHeight
    color: $font-color1

    input {
        border: none 
    }

    }
       p{
        margin:.2rem 0 
        text-align: right
        a{
            color: $font-color1
        }
    }
    button{
        margin-top: .2rem
        width: $btnWidth;
        height :$buttonHeight;
        border-radius: .05rem
        background-color $btn-color
        color: $font-colorFFF
    }
    }
    }
    