.Cat
    .item
        display: flex;
        margin: .1rem 0
        
        .icon
           margin: 0 .1rem
           line-height: .8rem
        .pic
            width: .8rem
            height .8rem
            border: 1px solid 
        .con
            margin-left: .05rem
            .title
                font-size: .15rem
            .btn-Box
                    margin-top: .1rem

                    input 
                        width: .4rem
                        height: .2rem
                        border: 1px solid #333
                        vertical-align: top
                        text-align: center
                    span 
                        display inline-block
                        width: .4rem
                        height .2rem
                        text-align: center
                        line-height: .2rem
                        border: 1px solid #333 
            .AllPrice
                    margin-top: .1rem
        .price
              margin: .1rem    
                    
                    
                    