@import("../../stylus/index.styl")
.Index
    padding-bottom: $footerHeight 
    .Index-footer
        position: fixed
        left: 0
        bottom: 0
        display: flex
        width 100vw
        height $footerHeight
        text-align: center
        line-height: $footerHeight
        border-top: 1px solid $font-color1 
        background-color $font-colorFFF
        a
         flex: 1
         color:$font-color2 
        
        .select
            color: $primary