@import("./color.styl")
@import("./size.styl")


   

.btn{
    background-color:$primary
    color: $font-colorFFF
    font-size: $h3;
    text-align: center;
    height:$buttonHeight;
    width: $buttonWidth;
    border-radius: $margin;
    line-height: $buttonHeight;
    margin: $margin
    }