@import("../../../../stylus/index.styl")
.Info
    margin: .1rem auto
    width: 90%

    .left
        overflow hidden
        .title
            font-size: $h3
            color: $font-color2
        .r-tag
            float right
            color: $font-color3
        .Tag
            margin-top: .15rem
            .price
                color: $font-color3
            .tag-box
                margin: 0 .05rem
                display inline-block
                width: .4rem
                height: .25rem
                border: 1px solid 
                text-align: center
                line-height: .25rem
                color: $btn-color
        p.oldPrice
            margin-top: .05rem
            text-decoration: line-through
            color: $font-color1
        