.Detail
   
    .Detail-Box
        .img
            width: 100vw
            height: 1.8rem
    .footer
        position: fixed
        left: 0
        bottom: 0
        width: 100vw
        height: .5rem
        background-color #ffffff
        border-top: 1px solid #f60
        button
            float right 
            width:1rem
            height 100%
            background-color #f60
            color:#fff
    .shade
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height 100vh
        background-color rgba(0,0,0,.5)
        .inner
            position: fixed
            left: 0
            bottom: .5rem
            padding: .1rem .1rem 0
            width: 100vw
            height 40%
            background-color #fff
            overflow-y: auto
            .title
                
                display: flex
                font-size: .15rem

            .pic
                margin-right: .1rem
                width: .8rem
                height .8rem
                border: 1px solid #000
            .infoTitle
                    margin-top: .1rem
                    font-size: .18rem
                    font-weight: bold
                    color: #333
            .attr
                margin-top: .1rem
                li
                   float left
                   margin: .1rem
                   padding:.04rem
                   border: 1px solid #ccc
                   color: #666
                .select
                      border: 1px solid #ff6600
                      color: #f60

            