@import("../../../../stylus/index.styl")

$btnWidth = .84rem

.Home-List  
    a
     color: $font-color1
    .Home-ListBox 
       
        margin-top: .1rem
        li
            width 90%
            margin: 0 auto
            overflow hidden
            margin-bottom: .15rem
        .Home-ListInfo
            float left
          
        .Home-ListImg
            margin-right .3rem
            float:left 
            width:.9rem
            height .9rem
        .Home-ListTitle
            font-size: $h3
        .price
            margin-top: .1rem
            color: $font-color3 
        .Home-LsitBtn
            width $btnWidth
            height: .34rem
            background-color $primary
            border-radius: .05rem
            color: $font-colorFFF

